<h1>Vidéo player</h1>
<vg-player>
  <vg-overlay-play></vg-overlay-play>
  <vg-buffering></vg-buffering>

  <vg-scrub-bar [vgSlider]="true">
    <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
  </vg-scrub-bar>

  <vg-controls [vgAutohide]="true">
    <vg-play-pause></vg-play-pause>
    <vg-playback-button></vg-playback-button>

    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

    <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

    <vg-track-selector></vg-track-selector>

    <vg-quality-selector *ngIf="bitrates"

                         (onBitrateChange)="onSelectedAudio($event)"
                         [bitrates]="bitrates">
    </vg-quality-selector>

    <vg-mute></vg-mute>
    <vg-volume></vg-volume>
    <vg-fullscreen></vg-fullscreen>

  </vg-controls>
  <video
    #media

    [vgMaster]="true"
    [vgMedia]="$any(media)"
    [vgHls]="'http://localhost:5000/file.mkv/index.m3u8'"
    id="singleVideo" crossorigin>

    <audio
      #audio
      [vgMedia]="$any(audio)"
      [vgHls]="currentAudio"
      id="singleAudio"></audio>

    <track kind="subtitles" srclang="fr" label="Français" src="http://localhost:5000/file.mkv/subtitle_4.vtt">
    <track kind="subtitles" srclang="en" label="Anglais" src="http://localhost:5000/file.mkv/subtitle_5.vtt">
  </video>

</vg-player>
